{% extends 'movies/template.html' %}

{% block title %} Жанры {% endblock %}

{% block genres %}
	<section class="genres main-section">
				<div class="container-lg">

					<div class="row">
						<div class="col-12">
							<h4 class="">{{ sections.genres.title|title }}</h4>
						</div>
					</div>

					<!-- Аниме -->
					<div class="genre">
						<h2 class="genre__bg">{{ sections.genres.genre.0|title }}</h2>
						<div class="row">
							<div class="genres__top mb-2">
								<h5>{{ sections.genres.genre.0|title }}</h5>
								<a href="#">Смотреть все ></a>
							</div>
						</div>
						<div class="swiper genres-slider">
							<div class="swiper-wrapper genres-slider__wrapper ">
								{% for film in sections.popular.films %}
									{% for genre in film.genre %}
										{% if genre ==  sections.genres.genre.0 %}

											<div class="swiper-slide col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 mb-auto">
									<a href="#" class="popular-films__item">
										<img src="{{ film.smallPoster }}" class="w-100 img-fluid" alt="">
										<div class="popular-films__raitings raitings">
											<div class="raitings__kp">kp: {{ film.raitings.kp }}</div>
											<div class="raitings__imdb">imdb: {{ film.raitings.imdb }}</div>
										</div>
										<div class="popular-films__body">
											<div class="popular-films__title-film">{{ film.titleFilm }}</div>
											<div class="popular-films__years-film">{{ film.info.date }}</div>
											<div class="popular-films__country-film">{{ film.country }}</div>
										</div>
									</a>
								</div>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</div>
						</div>


					</div>

					<!-- Боевик -->
					<div class="genre">
						<h2 class="genre__bg">{{ sections.genres.genre.0|title }}</h2>
						<div class="row">
							<div class="genres__top mb-2">
								<h5>{{ sections.genres.genre.2|title }}</h5>
								<a href="#">Смотреть все ></a>
							</div>
						</div>
						<div class="swiper genres-slider">
							<div class="swiper-wrapper genres-slider__wrapper ">
								{% for film in sections.popular.films %}
									{% for genre in film.genre %}
										{% if genre ==  sections.genres.genre.2 %}
											<div class="swiper-slide col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 mb-auto">
									<a href="#" class="popular-films__item">
										<img src="{{ film.smallPoster }}" class="w-100 img-fluid" alt="">
										<div class="popular-films__raitings raitings">
											<div class="raitings__kp">kp: {{ film.raitings.kp }}</div>
											<div class="raitings__imdb">imdb: {{ film.raitings.imdb }}</div>
										</div>
										<div class="popular-films__body">
											<div class="popular-films__title-film">{{ film.titleFilm }}</div>
											<div class="popular-films__years-film">{{ film.info.date }}</div>
											<div class="popular-films__country-film">{{ film.country }}</div>
										</div>
									</a>
								</div>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</div>
						</div>


					</div>
				</div>
			</section>
{% endblock %}