{% extends 'movies/template.html' %}
{% load static %}

{% block title %} Результаты {% endblock %}

{% block content%}

<section class="popular-films main-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3 class="">Результаты поиска:</h3>
			</div>
		</div>

		<div class="row g-xl-4 g-lg-4 g-md-4 g-sm-4 g-2 popular-films__row-main">
			{% if movies %}
			{% for movie in movies %}
			<div class="col-xl-2 mb-auto d-block swiper-slide" style="box-sizing: border-box;">
				<a href="/movie/{{ movie.pk }}/" class="popular-films__item">

					{% if movie.poster_big == None %}
					<img src="{% static '/vendor/img/default-film-big.png' %}" alt="" class="w-100 img-fluid">
					{% else %}
					<img src="{{ movie.poster_big }}" alt="{{ movie.poster_big }}" class="w-100 img-fluid">
					{% endif %}

					<div class="popular-films__raitings raitings">
						{% if movie.raitings_kp == None %}
						<div class="raitings__kp" style="display: none"></div>
						{% else %}
						<div class="raitings__kp">kp: {{ movie.raitings_kp }}</div>
						{% endif %}

						{% if movie.raitings_imdb == None %}
						<div class="raitings__imdb" style="display: none"></div>
						{% else %}
						<div class="raitings__imdb">imdb: {{ movie.raitings_imdb }}</div>
						{% endif %}
					</div>
					<div class="popular-films__body">
						<div class="popular-films__title-film">{{ movie.title }}</div>
						<div class="popular-films__years-film">{{ movie.year }} г.</div>
						<div class="popular-films__country-film">
							{% for country in movie.countries.all %}
							{{ country.name }}
							{% endfor %}
						</div>
					</div>
				</a>
			</div>
			{% endfor %}

			{% else %}
			<div class="col-12">
				<div
					style="display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; flex-direction: column;">
					<h3>Нет результатов поиска.</h3>
				</div>
			</div>


			{% endif %}

		</div>
		<div class="row">
		</div>
	</div>
</section>
{% endblock %}
