// Основные цвета
$white: #ffffff;
$black: #000000;
$black-gray: #171717;
$gray: rgba(255, 255, 255, 0.25);
$blue: rgba(71, 156, 255, .42);
$blue-intense: #479CFF;
$orange: #eb4e00d8;
$yellow: #f0bc00d8;


$screen: 1550px;
$screen-small: 1268px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 530px;
$mobile-small: 320px;

// Медиа запросы
@media (max-width: $screen) {}

@media (max-width: $screen-small) {}

@media (max-width: $tablet) {}

@media (max-width: $tablet-small) {}

@media (max-width: $mobile) {}

@media (max-width: $mobile-small) {}
